.btn {
  display: block;
  width: fit-content;
  padding: 12px 24px;

  background-color: var(--primary);
  border: none;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--orange-dark);
}

.btn-link {
  margin-top: 40px;

  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
