@import "./atomic.css";
@import "./default.css";
@import "./variables.css";
@import "./header.css";
@import "./btn.css";
@import "./card.css";

/* elements */
.content-container {
  position: relative;

  max-width: 1110px;
  margin: 0;
  padding: 100px 0;
}

.col-2 {
  display: flex;
  justify-content: space-between;

  column-gap: 30px;
}

.col-2 > * {
  flex: 1 1 calc(50% - 15px);
}

.col-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  row-gap: 20px;
}

.col-3 > * {
  width: calc(33% - 15px);
}

.header-image {
  position: absolute;

  top: 55px;
  right: -270px;

  height: 525px;
}

.mb-193-header {
  margin-bottom: 193px;
}

.shadow {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.video {
  position: relative;
  bottom: -200px;
}

.video:last-child {
  margin-top: -200px;
}

.separator {
  padding: 5px 10px;
}

.image {
  vertical-align: middle;
}

.birka {
  font-size: 24px;
  font-family: Neucha, serif;
  line-height: 1.2em;
}
